.container
{   
    padding:5%;
    width:160%;

}
.dropdown{
    width:5%;
}

#texto1{
    padding-bottom: 7%;
   
}
#texto2{
    padding-bottom: 7%;
}
#texto3{
    padding-bottom: 7%;
}
